.row {
    margin-bottom: 6px;
}

.card-heading {
    margin-top: 20px;
    margin-bottom: 30px;
}

.card-footer > button {
    width: 110px;
    height: 40px;
}

img {
    width: 200px;
    margin: 2px;
}