<div class="container">
    <h2 class="text-center">{{ pageTitle }}</h2>

    <div class="form-group">
        <div class="form-group col-md-10">
            <label for="search">Search</label>
            <input id="search" name="search" class="form-control" type="text" [(ngModel)]="filter" (input)="onSearch()">
        </div>

        <div class="form-row col-md-10">
            <div class="form-group col-md-6">
                <label for="sort">Sort</label>
                <select name="sort" id="sort" class="form-control" [(ngModel)]="sortType">
                    <!-- <option>Rating</option> -->
                    <option>Title</option>
                    <option>Year</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="other">Other</label>
                <select name="other" id="other" class="form-control" [(ngModel)]="sortOrder">
                    <option>Asc</option>
                    <option>Desc</option>
                </select>
            </div>
        </div>
    </div>

    <table class="table" *ngIf="movies && movies.length">
        <thead>
            <tr>
                <th scope="col">Poster</th>
                <th scope="col">Title</th>
                <th scope="col">Year</th>
            </tr>
        </thead>
        <tbody>
            <tr mvdb-movies-short *ngFor="let movie of (movies | sort: [sortType, sortOrder])" [movie]="movie">
            </tr>
            <!-- <tr mvdb-movies-short *ngFor="let movie of (movies | sort: [sortType, sortOrder])" [movie]="movie">
            </tr> -->
        </tbody>
    </table>
</div>